# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual envs
venv/
.venv/

# Editors/IDE
.vscode/
.idea/

# OS
.DS_Store

# Minikube binary if ever copied
minikube-linux-amd64

# Helm build artifacts (אם יווצרו)
helm/*/charts/
helm/*/tmp/

